
body { 
    margin: 0px;
}

.div1 {
    background-color:aqua ;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    animation: move 5s infinite;
    

 }
.cha{
        width: 100vw;
        height: 200px;
        background-color: wheat;
        position: relative;
}
.div2 { background-color: pink;
        

}
.div2:hover {
        /* transform: scale(3);
        transition: transform 5s ease-in-out; */
        animation: move 5s infinite;
}
@keyframes move {
    0% { 
        transform: translateX(0vw);
        opacity: 0.2;
    }

    25% { 
        transform: translateX(66vw);
        opacity: 0.6;   
    }
    50% {
        transform: translateX(1036px);
        opacity: 1;
    }
    75% {
        transform: translateX(66vw);
        opacity: 0.6;
    }
    100% {
        transform: translateX(0vw);
        opacity: 0.2;
    }
}

.item1 { background-color: yellow;
        
}
.item2 { background-color: green;

}

.box2 {
    width: 200px;
    height: 100px;
}