body {
    font-family: 'Inter' , sans-serif;  
    margin :0;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;

}
.ds-header {
    background-color: white;
    padding: 20px 0px;
    position: sticky;
    top: 0; 
    margin-top: 40px;
    margin-bottom: 40px;
}
.container { 
    width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}
.ds-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ds-logo {
    display: flex;
    align-items: center;
    font-size: 24px ;
}
.ds-logo span {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 24px; 
    border-radius: 4px ;
    width: 40px;
    height: 40px;
}
.ds-social {
    list-style: none;
    display: flex;
    gap: 10px;
}
.ds-social li {
    font-size: 24px;
}
.row { 
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.ds-banner-img { 
    display: block;
    margin-right: 70px;
}
.ds-banner-info span { 
    font-size: 18px;
}
.ds-number {
  display: flex;         
  gap: 50px;            
  list-style: none;
  padding: 0;
}
.ds-number li strong{
  display: block;
  font-size: 30px;
  color: #ee6a65;
  margin-bottom: 5px;
}
.ds-number li span {
    font-size: 14px;
}
.ds-heading { 
    margin : 30 0;
    font-size: 20px ;
    display: inline-block;
    border-bottom: 3px solid salmon;
}
p{ 
    font-size: 24px;
}
.ds-button-sec{
    display: inline-block;
    text-align: center;
    padding: 17px 30px;
    border-radius: 60px ;
    border: 2px solid salmon;
    margin-bottom: 30px;
    color: salmon;
}
.ds-button-sec:hover { 
    background-color: #ee6a65;
    color: white;
}
.ds-skills-list {
  list-style: none;
  padding: 0;
  display: flex;   
  flex-wrap: wrap;    
  gap: 12px;         
}
.ds-skills-list li {
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 50px; 
  color: #333;
  font-size: 0.95rem;
  background-color: #fff;
}
.right-col , .left-col {
    flex :1 ;
}
.ds-year {
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 7px;
}
.ds-officename {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 5px 0;
    color: #666;
}
p {
    font-size: 24px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.ds-experience-list li {
    padding-left: 25px;
    margin-bottom: 15px;
    color: #666;
}
h3 { 
    font-size: 30px;
}
.ds-work-list {
    background-color: lch(93.65% 5.12 253.12); 
    margin-bottom: 50px;
    padding: 30px;
}
.ds-work-list img { 
    width: 450px;
    margin-right: 0px;
}
.ds-footer {
    background-color: black;
    color: white;
    padding:120px 0 ;
    text-align: center;
}